{% assign current_folder = '' %}

{% for item in site.data.navigation %}
    {% if item.children %}
    {% for child in item.children %}
        {% assign page_url = page.url | replace:'/',' ' | truncatewords: 1,"" %}
        {% assign child_link = child.link | replace:'/',' ' | truncatewords: 1,"" %}


        {% if page_url == child_link %}
            {% assign current_folder = item.name %}
            {% assign current_item = child.name %}
        {% endif %}
    {% endfor %}
    {% endif %}
{% endfor %}

<ul class="TreeWidget">
    {% for item in site.data.navigation %}
    <li class={% if current_folder == item.name %} open {% endif%}>
        {% if item.link=="" %}
            <button class="{% if current_folder == item.name %}selected{% endif %}">{{ item.name }}</button>
        {% else %}
            {% if item.link == "#"}
            <a href="#" class="{% if current_folder == item.name %}selected{% endif %}">
            {%else%}
            {%endif%}
            <a href="{{ item.link | relative_url }}" class="{% if current_folder == item.name %}selected{% endif %}">
            {{ item.name }}
            </a>
        {% endif %}

        {% if item.children %}
        <ul>
        {% for item in item.children %}
        <li>
            <a href="{{ item.link | relative_url  }}" {% if current_item == item.name %}class="selected"{% endif %}>{{item.name}}</a>
        </li>
        {% endfor %}
    </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<script>
    var menu = document.querySelector(".TreeWidget");
    for(var elem of menu.children){
        if(elem.tagName=="LI"){
            elem.onclick = function(e){
                for(var item of menu.children){
                    item.classList.remove("open");
                }
                this.classList.add("open");
            }
        }
    }
</script>