body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 8pt;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 720px;
    padding: 3em;
    padding-bottom: 0;
  }
}

body>header{
    flex-grow: 0;
}

body>main{
    flex-grow: 1;
}

body{
    background-color: #fbfbfb;
}

body>header, body>main{
    background-color: white;
    padding: 20px;
}

body>footer{
    flex-grow: 0;
    padding: 1em 0;
    color: grey;
}

/*Header*/
header{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

header nav{
    min-height: 7.5em;
}

header img{

}

h2{
    font-weight: normal;
    font-family: verdana;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    margin-right: 37%;
    font-size: 1.33rem;
}

/*Navigation*/
nav{
    font-size: 18px;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav li{         
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li li {
    display: inline;
}

nav li{
    text-transform: uppercase;
    font-size: 18px;
}
nav li li{
    text-transform: lowercase;
    font-size: 10px;
    line-height: 1.5;
}

nav a{
    /*reset anchor style*/
    text-decoration: none;
    color: inherit;
}

nav button{
    /*reset btn style*/
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    text-transform: inherit;

    /**/
    cursor: pointer;
}

nav a:visited{
    color: inherit;
}

nav a:hover, nav button:hover{
    outline: 1px solid red;
    color: red;
}

nav a.selected, nav button.selected{
    color: red;
}

nav{
  /*white-space: nowrap;*/
}

nav li ul{
    overflow: hidden;
    display: block;
    height: 0em;
    transition: height 0.1s;
}

nav li.open ul{
    display: block;
    height: 1em;
}

body.no-js nav li ul{
    display: block;
}


/*Main*/
main figure{
    padding: 6em 0;
    /*text-align: right;*/
}

/*figure*/
figure{
  margin: 3rem 0;
}
figure img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    max-height: 800px;
}

figure>figcaption{
    text-align: right;
    margin: 0.5em 0;
    margin-left: auto;
    box-shadow: 1px 1px 5px 0px #0000000a;
        display: inline-block;
    padding: 0.5em;
    padding-left: 3em;
    float: right;

    white-space: pre-line;

    color: grey;
    font-size: 0.66rem;
}

figure>figcaption>span{
    display: block;
}

figure>figcaption>span.title{
    margin: 0.2em 0;
    text-transform: capitalize;
}
figure>figcaption>span.description{
    font-size: 0.85em;
    color: grey;
}
figure>figcaption>span.date{
    font-size: 0.85em;
    color: grey;
}

figure>figcaption a{
    text-decoration: none;
    color: inherit;
}
figure>figcaption a:hover{
    text-decoration: underline;
}


footer{
    text-align: right;
    font-style: italic;
    font-size: 0.66em;
}

.Widget-Carousel{
  overflow: hidden;
  position: relative;
}

.Widget-Carousel>.viewport{
  position: absolute;
  height: 100%;
}
.Widget-Carousel .slide{
  position: absolute;
  left: 0;
}

.Widget-Carousel button{
  border: none;
  background: none;
  display: block;
  position: absolute;
  
  top: 50%;
  padding: 1em 0;
  margin-top: -1.5em;
  cursor: pointer;
}

.Widget-Carousel button:focus{
  outline: none;
}
.Widget-Carousel button:hover{
  text-decoration: underline;
}

.Widget-Carousel button.prev{
  left: 0;
  padding-right: 1em;
}
.Widget-Carousel button.next{
  right: 0;
  padding-left: 1em;
}

.Widget-Carousel * {
  user-select: none;
}

@keyframes fadeIn{
  to { opacity: 1; }
}

.Widget-Carousel figure{
  opacity: 0;
  animation: fadeIn ease  1s;
  animation-fill-mode: forwards;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Widget-Carousel .slide img{
  pointer-events: none;
  user-select: none;
  min-height: 0;
  min-width: 0;
  object-fit: contain;
  object-position: right;
}

/* flex layout for carousel */
main{
  display: flex;
  flex-direction: column;
}
main .Widget-Carousel{
  flex-grow: 1;
}