<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>zalavaridesign - {{ page.title | downcase }}</title>
        <link rel="stylesheet" href="{{'assets/css/style.css' | relative_url }}"/>
        <link rel="stylesheet" href="{{'assets/css/menu.css' | relative_url }}"/>
        <link rel="stylesheet" href="{{'assets/css/carousel.css' | relative_url }}"/>

        <!--
        <script type="text/javascript" src="/assets/js/treewidget.js"></script>
        -->
        <script type="text/javascript" src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/jquery-3.4.1.min.js' | relative_url }}"></script>
    </head>
    <body class="no-js">
        <script type="text/javascript">
            document.body.classList.remove("no-js");
        </script>

        <header>
            <nav>
                {% include navigation.html %}
            </nav>

            <a href="/">
                <img width="140px" height="90px" src="{{ '/assets/images/zalavaridesign_logo-2019.svg' | relative_url }}">
            </a>
        </header>

        <main>
          {% if page.title %}
            <h2>{{page.title}}</h2>
            {% endif %}
            <section>
                {{ content }}
            </section>
            <section>
                    {% for fig in page.gallery %}
                    <figure>
                        <img src="{{fig.image.url | relative_url}}"/>
                        <figcaption>
                            {{fig.caption | markdownify | strip}}
                        </figcaption>
                    </figure>
                    {% endfor %}
            </section>
        </main>

        <footer>
            Copyright © 2019 Zalavári Studio Bt.
        </footer>

        <script>
            function round(num, k=500){
                return Math.round(num/k)*k;
            }

            function setHash(hash){
                if(hash!=undefined){
                    if(window.location.hash!="#"+hash){
                        history.pushState(null, null, "#"+hash);
                    }
                }
            }
            
            window.addEventListener('load', function(event){
                var sections = {};
                for(let element of document.querySelectorAll(".Carousel figure")){
                    var hash = element.id;
                    var topOffset = element.offsetTop;
                    sections[round(topOffset)] = hash;
                };
              
                $(window).scroll(function(e){
                    var scrollTop = $(window).scrollTop();
                    var hash = sections[round(scrollTop)];
                    setHash(hash);
                });
            });
        </script>

        <script>
            // var item = new TreeItem(document.body.children[0].children[0].children[0].children[0]);
            //var tree = new TreeWidget(document.querySelector(".TreeWidget"));
            //var carousel = new Carousel(document.querySelector(".Carousel"));
        </script>
    </body>
</html>